.card {
  /* margin-top: 30px; */
  width: 70%;
  margin-left: 340px;
  color: black;
}

.card ul {
  margin-left: -345px;
}

.margin_left_320 {
  margin-left: 320px;
}

userImg {
  width: 230px;
  margin-left: 30px;
  margin-top: 10px;
}
