.card {
  width: 70%;
  margin-left: 340px;
  color: black;
  background: white;
  max-height: 640px;
  height: 640px;
  width: 900px;
}
#quiz-result {
  margin-left: 150px;
}
.card ul {
  /* margin-left: -345px; */
}
.user-title {
  margin-left: 100px;
  margin-top: 10px;
}

.margin_left_320 {
  margin-left: 320px;
}

.userImg {
  padding: 10px;
  width: 100px;
  height: 100px;
  margin-left: 95px;
  margin-top: 50px;
}

#profileIMG {
  width: 250px;
  margin-left: 160px;
  height: 250px;
}

#userprofile-button {
  margin: 10px;
}

#profile-button {
  margin: 5px;
}
