.Home1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.Home-content1 {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 30px;
}
.home-button {
  font-weight: 500;
}

.slogan {
  margin-right: 260px;
  margin-top: -220px;
}

.Home2 {
  height: 100%;
  width: 100%;
  background-color: #5bc0de;
  background-repeat: repeat;
  background-attachment: fixed;
}

.Home-content2 {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  margin-right: -850px;
}

.mentors {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

div:hover .mentors{
  opacity: 0.8;
  color:  #5bc0de;
  }

.mentor-title {
  font-weight: 600;
  color: white;
  margin-top: -30px;
  margin-right: -350px;
}

.avatar-size {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.home-button {
  font-weight: bold;
  margin-right: -840px;
  margin-bottom: -140px;
  font-weight: 700;
}

.testimonial {
  margin-right: -400px;
    margin-bottom: -180px;
    width: 400px;
    height: 200px;
    color: white;
}

.logo {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 4px;
  margin-top: -10px;
  }
  
  .logo-name {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin-top: 29px;
  }
  
  .dash-nav {
    display: inline-block;
    margin-bottom: 10px
  }
  
  .dash-navabr {
    padding: 8px;
    height: 50px;
    line-height: 20px;
  }

@media (min-width: 650px) {
  .App {
    background-position: center center;
  }

  .Home-content1 {
    align-items: flex-end;
    justify-content: center;
  }

  .Home-content2 {
    align-items: flex-end;
    justify-content: center;
  }
}
